body {
    background-image: url(../resources/pradera.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
}

h1 {
    color: azure;
    background-color: rgba(138, 155, 233, 0.6);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    padding: 10px;
}

#kanban {
    margin: 10px;
}

.column {
    float: left;
    background-color: rgba(240, 255, 255, 0.6);
    border-radius: 15px;
    width: 19%;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h2 {
    margin: 20px;
}

.card {
    margin: 20px;
    background-color: rgb(228, 245, 245);
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 40px;
}

.close i{
    float: right;
    color: red;
}

.tag {
    display: block;
    float: left;
    padding: 2%;
    border-radius: 50%;
    margin: 5px;
}

.tag i {
    color: whitesmoke;
}

.tag.front{
    background-color: green;
}

.tag.back{
    background-color: red;
}

.tag.device{
    background-color: rgb(255, 217, 0);
}

.card:hover {
    background-color: cadetblue;
    cursor: pointer;
    color: white;
}

.card:hover .tag i {
    color: black;
}

.card:hover .close i{
    color: black;
}
